.wrapper {
    width: 100vw;
    height: 100vh;
    background-color: rgb(10, 25, 41);
}

.settingsBtn {
    position: fixed;
    top: 3rem;
    left: 3rem;
    color: rgba(0, 0, 0, 0.87);
    background-color: rgb(0, 30, 60);
    transition: opacity 1s ease-in;
    opacity: 0;
}

.infoBtn {
    position: fixed;
    top: 3rem;
    right: 3rem;
    color: rgba(0, 0, 0, 0.87);
    background-color: rgb(0, 30, 60);
    transition: opacity 1s ease-in;
    opacity: 0;

    svg {
        color: #66b2ff;
    }
}

.panelTitle {
    color: rgb(245, 245, 245);
}

.fullOpacity {
    opacity: 1;
}